
  {% if page.banner_pictures %}
    <!-- Start: Banner pictures -->
    <div id="page-banner" class="solo-col solo-col-1">
      {{ page.banner_pictures }}
    </div>
	<!-- End: Banner pictures -->
  {% endif %}
