
  {% if page.canceled %}
  <!-- Start: Canceled rides block. Block limited to <front> in block configuration. -->
	<div id="canceled-rides" class="solo-col solo-col-1">
	  {{ page.canceled }}
	</div>
  {% endif %}
